<div class="text-center" *ngIf="isDisabledUI()">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!isDisabledUI()">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-edit"></i> {{getChanged() ? '*' : ''}} {{formGroup.controls['name'].value}}
          </div>
          <div class="col-sm-6 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-sm btn-primary" style="margin-left: 5px;"
              [disabled]="!formGroup.valid || !getChanged()"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="button" class="btn btn-sm btn-warning" style="margin-left: 50px;" (click)="cancel()"><i
                class="fa fa-ban"></i>
              Cancel</button>
            <ng-container *ngIf="isExistsEntity() | async">
              <button type="button" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i>
                Delete</button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" [ngClass]="invalidControlClass('name')" id="name"
              placeholder="User name" formControlName="name" autocomplete="off">
            <div class="invalid-feedback" *ngIf="formGroup.controls['name'].touched">
              Please provide a valid information.
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" placeholder="Comment" formControlName="comment"
              autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="login-user">Login</label>
            <input type="text" class="form-control" id="login-user" placeholder="Login" formControlName="login"
              autocomplete="chrome-off">
          </div>
          <div class="form-group col-sm-6">
            <label for="pass-user">Password</label>
            <input type="text" class="form-control" id="pass-user" placeholder="Password" formControlName="pass"
              autocomplete="chrome-off">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="active">Active</label>
            <input type="checkbox" class="form-control" id="active" placeholder="Active" formControlName="active">
          </div>
          <div class="form-group col-sm-6">
            <label for="dtcre">Creation date</label>
            <input type="date" class="form-control" id="dtcre" placeholder="Creation date" formControlName="dtcre">
          </div>
        </div>

        <div class="card">
          <div class="card-header">

            <div class="row">
              <div class="col-sm-6">
                <i class="fa fa-list"></i> Roles
              </div>
              <div class="col-sm-6 d-flex flex-row-reverse">
                <button type="button" class="btn btn-sm btn-primary" (click)="addDep()"><i
                    class="fa fa-plus-circle"></i>
                  New</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <app-at-grid [data]="userdeps" [metaData]="gridMetaData" [staticMode]="true" [currentPage]="0">
            </app-at-grid>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="hidden">
  <template-provider-component>
  </template-provider-component>
</div>