<div class="text-center" *ngIf="isDisabledUI()">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!isDisabledUI()">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-edit"></i> {{getChanged() ? '*' : ''}} {{formGroup.controls['name'].value}}
          </div>
          <div class="col-sm-6 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-sm btn-primary" style="margin-left: 5px;"
              [disabled]="!formGroup.valid || !getChanged()"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="button" class="btn btn-sm btn-warning" style="margin-left: 50px;" (click)="cancel()"><i
                class="fa fa-ban"></i>
              Cancel</button>
            <ng-container *ngIf="isExistsEntity() | async">
              <button type="button" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i>
                Delete</button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" [ngClass]="invalidControlClass('name')" id="name"
              placeholder="Room name" formControlName="name" autocomplete="off">
            <div class="invalid-feedback" *ngIf="formGroup.controls['name'].touched">
              Please provide a valid information.
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" placeholder="Comment" formControlName="comment"
              autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="active">Active</label>
            <input type="checkbox" class="form-control" id="active" placeholder="Active" formControlName="active">
          </div>
          <div class="form-group col-sm-6">
            <label for="dtcre">Creation date</label>
            <input type="date" class="form-control" id="dtcre" placeholder="Creation date" formControlName="dtcre">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="active">Square</label>
            <input type="number" class="form-control" id="square" placeholder="Square" formControlName="square">
          </div>
          <div class="form-group col-sm-3">
            <label for="hygienekit_name">Hygienekit</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="hygienekit_name" placeholder="Hygienekit"
                formControlName="hygienekit_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idhygienekit')">
                <button type="button" class="btn btn-warning" (click)="clearHygienekit()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectHygienekit()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="dtcre">Dishes</label>
            <input type="checkbox" class="form-control" id="dishes" placeholder="Dishes" formControlName="dishes">
          </div>
          <div class="form-group col-sm-3">
            <label for="dtcre">Hairdryer</label>
            <input type="checkbox" class="form-control" id="hairdryer" placeholder="Hairdryer"
              formControlName="hairdryer">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="roomtype_name">Roomtype</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" [ngClass]="invalidControlClass('roomtype_name')"
                id="roomtype_name" placeholder="Roomtype" formControlName="roomtype_name" autocomplete="off">
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectRoomtype()">...</button>
              </span>
              <div class="invalid-feedback" *ngIf="formGroup.controls['roomtype_name'].touched">
                Please provide a valid information.
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="bed_name">Bed</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="bed_name" placeholder="Bed"
                formControlName="bed_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idbed')">
                <button type="button" class="btn btn-warning" (click)="clearBed()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectBed()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="extrabed_name">Extrabed</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="extrabed_name" placeholder="Extrabed"
                formControlName="extrabed_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idextrabed')">
                <button type="button" class="btn btn-warning" (click)="clearExtrabed()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectExtrabed()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="fridge_name">Fridge</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="fridge_name" placeholder="Fridge"
                formControlName="fridge_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idfridge')">
                <button type="button" class="btn btn-warning" (click)="clearFridge()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectFridge()">...</button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="kitchen_name">Kitchen</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="kitchen_name" placeholder="Kitchen"
                formControlName="kitchen_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idkitchen')">
                <button type="button" class="btn btn-warning" (click)="clearKitchen()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectKitchen()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="safe_name">Safe</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="safe_name" placeholder="Safe"
                formControlName="safe_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idsafe')">
                <button type="button" class="btn btn-warning" (click)="clearSafe()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectSafe()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="tv_name">Tv</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="tv_name" placeholder="Tv" formControlName="tv_name"
                autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idtv')">
                <button type="button" class="btn btn-warning" (click)="clearTv()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectTv()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="iron_name">Iron</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="iron_name" placeholder="Iron"
                formControlName="iron_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idiron')">
                <button type="button" class="btn btn-warning" (click)="clearIron()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectIron()">...</button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label for="internet_name">Internet</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="internet_name" placeholder="Internet"
                formControlName="internet_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idinternet')">
                <button type="button" class="btn btn-warning" (click)="clearInternet()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectInternet()">...</button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="tempcontrol_name">Tempcontrol</label>
            <div class="input-group">
              <input type="text" class="form-control inp-dict" id="tempcontrol_name" placeholder="Tempcontrol"
                formControlName="tempcontrol_name" autocomplete="off">
              <span class="input-group-append" *ngIf="isValue('idtempcontrol')">
                <button type="button" class="btn btn-warning" (click)="clearTempcontrol()"><i
                    class="fa fa-minus-square-o"></i></button>
              </span>
              <span class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="selectTempcontrol()">...</button>
              </span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">

                <div class="row">
                  <div class="col-sm-6">
                    <i class="fa fa-list"></i> Extrarooms
                  </div>
                  <div class="col-sm-6 d-flex flex-row-reverse">
                    <button type="button" class="btn btn-sm btn-primary" (click)="addRoomextraroom()"><i
                        class="fa fa-plus-circle"></i>
                      New</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <app-at-grid [data]="roomextrarooms" [metaData]="gridMetaData_extraroom" [staticMode]="true"
                  [currentPage]="0">
                </app-at-grid>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                    <i class="fa fa-list"></i> Bathrobes
                  </div>
                  <div class="col-sm-6 d-flex flex-row-reverse">
                    <button type="button" class="btn btn-sm btn-primary" (click)="addRoombathrobe()"><i
                        class="fa fa-plus-circle"></i>
                      New</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <app-at-grid [data]="roombathrobes" [metaData]="gridMetaData_bathrobe" [staticMode]="true"
                  [currentPage]="0">
                </app-at-grid>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">

                <div class="row">
                  <div class="col-sm-6">
                    <i class="fa fa-list"></i> Bathrooms
                  </div>
                  <div class="col-sm-6 d-flex flex-row-reverse">
                    <button type="button" class="btn btn-sm btn-primary" (click)="addRoombathroom()"><i
                        class="fa fa-plus-circle"></i>
                      New</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <app-at-grid [data]="roombathrooms" [metaData]="gridMetaData_bathroom" [staticMode]="true"
                  [currentPage]="0">
                </app-at-grid>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>

<div class="hidden">
  <template-provider-component>
  </template-provider-component>
</div>